@font-face {
    font-family: 'Graphik LC TT';
    src: url('../fonts/GraphikLCWeb-Medium.eot');
    src: url('../fonts/GraphikLCWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCWeb-Medium.woff2') format('woff2'),
        url('../fonts/GraphikLCWeb-Medium.woff') format('woff'),
        url('../fonts/GraphikLCWeb-Medium.ttf') format('truetype'),
        url('../fonts/GraphikLCWeb-Medium.svg#GraphikLCWeb-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
