body {
    background-color: #FFF;
    font-family: "Graphik LC TT";
    font-weight: 400;
    font-style: normal;
    color: #000;

}

.button {
    width: 160px;
    height: 60px;
    background-color: #fff;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    line-height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.button:hover {
    box-shadow: 2px 8px 7px -4px rgba(0, 0, 0, 1);
}

.button:active {
    opacity: 0.7;
}

.button--mod {
    color: #FFF;
    background-color: #FF6336;
    border: 1px solid #FF6336;
}

h3 {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 60px;
}

.line-link {
    text-decoration-line: underline;

    a {
        color: #000;
    }
}