.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 3.5%;
    border-bottom: 1px solid #CCC;

    .logo {
        padding: 3px 0 9px;
    }

    .navi-menu {
        width: 86.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .nav {
            width: 51%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7%;

            .nav__link {
                white-space: nowrap;
                color: #000;
                font-size: 0.9375rem;
                font-weight: 400;
                line-height: 20px;
            }

            .nav__link:hover {
                text-decoration-line: underline;
            }
        }

        .nav__item--mod {
            padding: 8px 2.5% 12px 0;
        }

        .nav__item--spec {
            padding: 5px 1.37% 3px 1.2%;
        }

        .buttons {
            width: 22.5%;
            display: flex;
            flex-direction: row-reverse;
            gap: 3.85%;

            .button {
                width: 120px;
                height: 45px;
                line-height: 45px;
            }
        }
    }
}

.sides {
    margin: 0 auto;
    width: 90.7%;
    padding: 97px 0 137px;
    display: flex;
    justify-content: space-between;

    .side-block {
        width: 48%;

        h1 {
            width: 89%;
            margin-top: 14px;
            font-size: 4.0625rem;
            font-weight: 600;
            line-height: 70px;
        }

        p.side-main {
            width: 76%;
            margin-top: 51px;
            font-size: 1.5625rem;
            line-height: 35px;
        }

        .buttons-side {
            width: 100%;
            margin-top: 30px;
            padding-top: 20px;
            display: flex;
            justify-content: start;
            gap: 1.6%;
        }

        p.side-add {
            margin-top: 25px;
            font-size: 0.9375rem;
            line-height: 25px;
        }
    }

    .side-block--mod {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}