.main-container-primary {
    background-color: #FF9C7D;
    padding: 10px 0;

    .container-primary-block {
        margin: 0 auto;
        width: 90.7%;
        padding: 98px 0 94px;

        h3 {
            margin: 0 auto;
            width: 55.8%;
            text-align: center;
        }

        .primary-block-img {
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.main-container-secondary {
    padding: 90px 0 150px;
    display: flex;
    flex-direction: column;

    .container-secondary-block {
        margin: 0 auto;
        width: 90.7%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .secondary-block-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .block-text-parag {
                margin-top: 30px;
                font-size: 1.25rem;
                line-height: 30px;
            }

            .block-text-link {
                margin-top: 30px;
                color: #000;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 30px;
            }

            .block-text-link:hover {
                text-decoration-line: underline;
            }
        }

        .secondary-block-forms {
            width: 40.2%;
            background-color: #FFF8E4;
            padding: 97px 3%;
            font-family: 'Roboto';
            font-size: 0.875rem;
            line-height: 30px;

            .form-primary {
                background-color: #FFF;
                padding: 30px 11.7% 30px 5.5%;
                display: flex;
                flex-direction: column;

                .line-code-first,
                .line-code-second,
                .line-code-third,
                .line-code-fourth,
                .line-code-fifth,
                .line-code-sixth,
                .line-code-seventh {
                    display: flex;
                    flex-direction: row;

                    .client {
                        color: #008;
                        padding-right: 2%;
                    }

                    .client--mod,
                    .simbol-second--mod {
                        margin-left: 8%;
                    }

                    .simbol-first {
                        color: #393;
                        padding: 0 2% 0 1%;
                    }

                    .localise {
                        color: #9876AA;
                        padding-right: 9%;
                    }

                    .simbol-second {
                        color: #090;
                    }

                    .token {
                        color: #008;
                        padding-right: 1%;
                    }

                    .files {
                        color: #004000;
                        padding-right: 1%;
                    }

                    .files--mod {
                        padding-right: 3%;
                    }

                    .format {
                        color: #00F;
                        padding-right: 2%;
                    }

                    .format--mod {
                        margin-left: 16%;
                    }
                }

                .line-code-second {
                    margin-top: 30px;
                }
            }

            .form-secondary {
                padding: 9.5px 0 0 13.5%;
            }
        }
    }

    .container-secondary-block--mod {
        flex-direction: row-reverse;
        padding-top: 250px;
    }

    .container-secondary-block--spec {
        padding-top: 250px;
    }
}

.main-container-tertiary {
    background-color: #FFF8E4;

    .container-tertiary-block {
        margin: 0 auto;
        width: 90.7%;
        padding: 120px 0 93px;
        display: flex;
        flex-direction: column;

        .block-text-title {
            text-align: center;
        }

        .tertiary-block-items {
            margin-top: 58px;
            padding: 0 3.1% 0;

            .block-items-line {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .block-item {
                    width: 25.6%;
                    text-align: center;
                    margin-bottom: 57px;

                    .block-item-img {
                        margin-bottom: 26px;
                    }

                    .block-item-name {
                        font-size: 1.5625rem;
                        font-weight: 600;
                        line-height: 35px;
                        margin-bottom: 20px;
                    }

                    .block-item-text {
                        font-size: 1.125rem;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

.main-container-quaternary {
    .container-quaternary-block {
        margin: 0 auto;
        width: 90.7%;
        display: flex;
        flex-direction: column;
        padding: 154px 0 187px;

        .quaternary-block-elements {
            display: flex;
            flex-direction: row;

            .block-element {
                width: 33.3%;
                padding-right: 2.4%;

                .block-element-img {
                    margin: 50px 0 49px;
                }

                .block-element-img--mod {
                    margin: 67px 0;
                }

                .block-element-img--spec {
                    margin: 59px 0 58px;
                }

                .block-element-name {
                    font-size: 1.875rem;
                    font-weight: 600;
                    line-height: 40px;
                    margin-bottom: 34px;
                }

                .block-element-text,
                .block-element-link {
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 30px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

.main-container-revolut {
    background-color: #C9E8F2;

    .container-revolut-block {
        margin: 0 auto;
        width: 90.7%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .revolut-block {
            width: 69.4%;
            margin-top: 43px;

            .revolut-block-text {
                padding: 20px 0 23px;
                font-size: 1.875rem;
                line-height: 40px;
            }

            .revolut-block-name {
                padding-bottom: 7px;
                font-family: 'Roboto';
                font-size: 0.9375rem;
                line-height: 25px;
            }
        }

        .revolut-img {
            margin: 53px 0 105px;
        }
    }
}

.main-container-rank {
    background-color: #DABC98;
    padding: 79px 0 80px;

    .container-rank-block {
        margin: 0 auto;
        width: 90.7%;
        display: flex;
        flex-direction: row;

        .rank-block-primary {
            width: 62.7%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .block-primary-text {
                width: 57%;
                margin-left: 8.3%;
                font-size: 2.1875rem;
                font-weight: 600;
                line-height: 50px;
            }
        }

        .rank-block-secondary {
            width: 37.3%;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #000;
            padding: 30px 4.8% 23px 5.5%;

            .block-secondary-logo,
            .block-secondary-rank,
            .block-secondary-text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .block-secondary-logo {
                margin-bottom: 20px;
            }

            .block-secondary-text {
                margin-top: 14px;
                font-size: 0.9375rem;
                line-height: 25px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
            }
        }

        .secondary-ran--mod,
        .secondary-text--mod {
            padding-right: 6.4%;
        }
    }
}

.main-container-tools {
    padding: 169px 0 162px;

    .container-tools-block {
        margin: 0 auto;
        width: 90.7%;
        text-align: center;


        .tools-block-title {
            width: 61.3%;
            margin: 0 auto;
            font-size: 4.0625rem;
            font-weight: 600;
            line-height: 75px;
        }

        .tools-block-text {
            width: 41.8%;
            margin: 0 auto;
            font-size: 1.5625rem;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 25px;
        }

        .tools-block-img {
            margin-bottom: 32px;
        }

        .button {
            width: 193px;
        }
    }
}

.main-container-localiz {
    padding: 119px 0 161px;
    background-color: #FF9C7D;

    .container-localiz-block {
        margin: 0 auto;
        width: 90.7%;
        text-align: center;

        .localiz-block-title {
            width: 61.3%;
            margin: 0 auto;
            font-size: 4.0625rem;
            font-weight: 600;
            line-height: 75px;
            margin-bottom: 29px;
        }

        .localiz-block-text {
            font-size: 1.25rem;
            line-height: 30px;
            margin-bottom: 54px;
        }
    }
}