.main-container-primary {
    background-color: #FF9C7D;
    padding: 10px 0;

    .container-primary-block {
        margin: 0 auto;
        width: 89.6%;
        padding: 98px 0 94px;

        h3 {
            margin: 0 auto;
            width: 55.8%;
            text-align: center;
        }

        .primary-block-img {
            width: 100%;
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}