/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/Graphik/GraphikLCWeb-Medium.eot");
  src: url("../fonts/Graphik/GraphikLCWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik/GraphikLCWeb-Medium.woff2") format("woff2"), url("../fonts/Graphik/GraphikLCWeb-Medium.woff") format("woff"), url("../fonts/Graphik/GraphikLCWeb-Medium.ttf") format("truetype"), url("../fonts/Graphik/GraphikLCWeb-Medium.svg#GraphikLCWeb-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #FFF;
  font-family: "Graphik LC TT";
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.button {
  width: 160px;
  height: 60px;
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  line-height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.button:hover {
  box-shadow: 2px 8px 7px -4px rgb(0, 0, 0);
}

.button:active {
  opacity: 0.7;
}

.button--mod {
  color: #FFF;
  background-color: #FF6336;
  border: 1px solid #FF6336;
}

.button--spec {
  color: #FFF;
  background-color: #000;
}

h3 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
}

.line-link {
  text-decoration-line: underline;
}
.line-link a {
  color: #000;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 3.5%;
  border-bottom: 1px solid #CCC;
}
.header-menu .logo {
  padding: 3px 0 9px;
}
.header-menu .navi-menu {
  width: 86.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu .navi-menu .nav {
  width: 51%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7%;
}
.header-menu .navi-menu .nav .nav__link {
  white-space: nowrap;
  color: #000;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 20px;
}
.header-menu .navi-menu .nav .nav__link:hover {
  text-decoration-line: underline;
}
.header-menu .navi-menu .nav__item--mod {
  padding: 8px 2.5% 12px 0;
}
.header-menu .navi-menu .nav__item--spec {
  padding: 5px 1.37% 3px 1.2%;
}
.header-menu .navi-menu .buttons {
  width: 22.5%;
  display: flex;
  flex-direction: row-reverse;
  gap: 3.85%;
}
.header-menu .navi-menu .buttons .button {
  width: 120px;
  height: 45px;
  line-height: 45px;
}

.sides {
  margin: 0 auto;
  width: 90.7%;
  padding: 97px 0 137px;
  display: flex;
  justify-content: space-between;
}
.sides .side-block {
  width: 48%;
}
.sides .side-block h1 {
  width: 89%;
  margin-top: 14px;
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 70px;
}
.sides .side-block p.side-main {
  width: 76%;
  margin-top: 51px;
  font-size: 1.5625rem;
  line-height: 35px;
}
.sides .side-block .buttons-side {
  width: 100%;
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: start;
  gap: 1.6%;
}
.sides .side-block p.side-add {
  margin-top: 25px;
  font-size: 0.9375rem;
  line-height: 25px;
}
.sides .side-block--mod {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-container-primary {
  background-color: #FF9C7D;
  padding: 10px 0;
}
.main-container-primary .container-primary-block {
  margin: 0 auto;
  width: 90.7%;
  padding: 98px 0 94px;
}
.main-container-primary .container-primary-block h3 {
  margin: 0 auto;
  width: 55.8%;
  text-align: center;
}
.main-container-primary .container-primary-block .primary-block-img {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container-secondary {
  padding: 90px 0 150px;
  display: flex;
  flex-direction: column;
}
.main-container-secondary .container-secondary-block {
  margin: 0 auto;
  width: 90.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-container-secondary .container-secondary-block .secondary-block-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container-secondary .container-secondary-block .secondary-block-text .block-text-parag {
  margin-top: 30px;
  font-size: 1.25rem;
  line-height: 30px;
}
.main-container-secondary .container-secondary-block .secondary-block-text .block-text-link {
  margin-top: 30px;
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
}
.main-container-secondary .container-secondary-block .secondary-block-text .block-text-link:hover {
  text-decoration-line: underline;
}
.main-container-secondary .container-secondary-block .secondary-block-forms {
  width: 40.2%;
  background-color: #FFF8E4;
  padding: 97px 3%;
  font-family: "Roboto";
  font-size: 0.875rem;
  line-height: 30px;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary {
  background-color: #FFF;
  padding: 30px 11.7% 30px 5.5%;
  display: flex;
  flex-direction: column;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh {
  display: flex;
  flex-direction: row;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .client,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .client,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .client,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .client,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .client,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .client,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .client {
  color: #008;
  padding-right: 2%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .client--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .simbol-second--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .client--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .simbol-second--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .client--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .simbol-second--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .client--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .simbol-second--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .client--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .simbol-second--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .client--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .simbol-second--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .client--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .simbol-second--mod {
  margin-left: 8%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .simbol-first,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .simbol-first,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .simbol-first,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .simbol-first,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .simbol-first,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .simbol-first,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .simbol-first {
  color: #393;
  padding: 0 2% 0 1%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .localise,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .localise,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .localise,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .localise,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .localise,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .localise,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .localise {
  color: #9876AA;
  padding-right: 9%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .simbol-second,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .simbol-second,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .simbol-second,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .simbol-second,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .simbol-second,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .simbol-second,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .simbol-second {
  color: #090;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .token,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .token,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .token,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .token,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .token,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .token,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .token {
  color: #008;
  padding-right: 1%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .files,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .files,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .files,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .files,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .files,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .files,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .files {
  color: #004000;
  padding-right: 1%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .files--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .files--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .files--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .files--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .files--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .files--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .files--mod {
  padding-right: 3%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .format,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .format,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .format,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .format,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .format,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .format,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .format {
  color: #00F;
  padding-right: 2%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-first .format--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second .format--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-third .format--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fourth .format--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-fifth .format--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-sixth .format--mod,
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-seventh .format--mod {
  margin-left: 16%;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-primary .line-code-second {
  margin-top: 30px;
}
.main-container-secondary .container-secondary-block .secondary-block-forms .form-secondary {
  padding: 9.5px 0 0 13.5%;
}
.main-container-secondary .container-secondary-block--mod {
  flex-direction: row-reverse;
  padding-top: 250px;
}
.main-container-secondary .container-secondary-block--spec {
  padding-top: 250px;
}

.main-container-tertiary {
  background-color: #FFF8E4;
}
.main-container-tertiary .container-tertiary-block {
  margin: 0 auto;
  width: 90.7%;
  padding: 120px 0 93px;
  display: flex;
  flex-direction: column;
}
.main-container-tertiary .container-tertiary-block .block-text-title {
  text-align: center;
}
.main-container-tertiary .container-tertiary-block .tertiary-block-items {
  margin-top: 58px;
  padding: 0 3.1% 0;
}
.main-container-tertiary .container-tertiary-block .tertiary-block-items .block-items-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-container-tertiary .container-tertiary-block .tertiary-block-items .block-items-line .block-item {
  width: 25.6%;
  text-align: center;
  margin-bottom: 57px;
}
.main-container-tertiary .container-tertiary-block .tertiary-block-items .block-items-line .block-item .block-item-img {
  margin-bottom: 26px;
}
.main-container-tertiary .container-tertiary-block .tertiary-block-items .block-items-line .block-item .block-item-name {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 20px;
}
.main-container-tertiary .container-tertiary-block .tertiary-block-items .block-items-line .block-item .block-item-text {
  font-size: 1.125rem;
  line-height: 25px;
}

.main-container-quaternary .container-quaternary-block {
  margin: 0 auto;
  width: 90.7%;
  display: flex;
  flex-direction: column;
  padding: 154px 0 187px;
}
.main-container-quaternary .container-quaternary-block .quaternary-block-elements {
  display: flex;
  flex-direction: row;
}
.main-container-quaternary .container-quaternary-block .quaternary-block-elements .block-element {
  width: 33.3%;
  padding-right: 2.4%;
}
.main-container-quaternary .container-quaternary-block .quaternary-block-elements .block-element .block-element-img {
  margin: 50px 0 49px;
}
.main-container-quaternary .container-quaternary-block .quaternary-block-elements .block-element .block-element-img--mod {
  margin: 67px 0;
}
.main-container-quaternary .container-quaternary-block .quaternary-block-elements .block-element .block-element-img--spec {
  margin: 59px 0 58px;
}
.main-container-quaternary .container-quaternary-block .quaternary-block-elements .block-element .block-element-name {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 34px;
}
.main-container-quaternary .container-quaternary-block .quaternary-block-elements .block-element .block-element-text,
.main-container-quaternary .container-quaternary-block .quaternary-block-elements .block-element .block-element-link {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.main-container-revolut {
  background-color: #C9E8F2;
}
.main-container-revolut .container-revolut-block {
  margin: 0 auto;
  width: 90.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-container-revolut .container-revolut-block .revolut-block {
  width: 69.4%;
  margin-top: 43px;
}
.main-container-revolut .container-revolut-block .revolut-block .revolut-block-text {
  padding: 20px 0 23px;
  font-size: 1.875rem;
  line-height: 40px;
}
.main-container-revolut .container-revolut-block .revolut-block .revolut-block-name {
  padding-bottom: 7px;
  font-family: "Roboto";
  font-size: 0.9375rem;
  line-height: 25px;
}
.main-container-revolut .container-revolut-block .revolut-img {
  margin: 53px 0 105px;
}

.main-container-rank {
  background-color: #DABC98;
  padding: 79px 0 80px;
}
.main-container-rank .container-rank-block {
  margin: 0 auto;
  width: 90.7%;
  display: flex;
  flex-direction: row;
}
.main-container-rank .container-rank-block .rank-block-primary {
  width: 62.7%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-container-rank .container-rank-block .rank-block-primary .block-primary-text {
  width: 57%;
  margin-left: 8.3%;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 50px;
}
.main-container-rank .container-rank-block .rank-block-secondary {
  width: 37.3%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #000;
  padding: 30px 4.8% 23px 5.5%;
}
.main-container-rank .container-rank-block .rank-block-secondary .block-secondary-logo,
.main-container-rank .container-rank-block .rank-block-secondary .block-secondary-rank,
.main-container-rank .container-rank-block .rank-block-secondary .block-secondary-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-container-rank .container-rank-block .rank-block-secondary .block-secondary-logo {
  margin-bottom: 20px;
}
.main-container-rank .container-rank-block .rank-block-secondary .block-secondary-text {
  margin-top: 14px;
  font-size: 0.9375rem;
  line-height: 25px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.main-container-rank .container-rank-block .secondary-ran--mod,
.main-container-rank .container-rank-block .secondary-text--mod {
  padding-right: 6.4%;
}

.main-container-tools {
  padding: 169px 0 162px;
}
.main-container-tools .container-tools-block {
  margin: 0 auto;
  width: 90.7%;
  text-align: center;
}
.main-container-tools .container-tools-block .tools-block-title {
  width: 61.3%;
  margin: 0 auto;
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 75px;
}
.main-container-tools .container-tools-block .tools-block-text {
  width: 41.8%;
  margin: 0 auto;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}
.main-container-tools .container-tools-block .tools-block-img {
  margin-bottom: 32px;
}
.main-container-tools .container-tools-block .button {
  width: 193px;
}

.main-container-localiz {
  padding: 119px 0 161px;
  background-color: #FF9C7D;
}
.main-container-localiz .container-localiz-block {
  margin: 0 auto;
  width: 90.7%;
  text-align: center;
}
.main-container-localiz .container-localiz-block .localiz-block-title {
  width: 61.3%;
  margin: 0 auto;
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 29px;
}
.main-container-localiz .container-localiz-block .localiz-block-text {
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 54px;
}

.footer {
  background-color: #EEEEEE;
  padding: 92px 0 43px;
}
.footer .footer-container-primary {
  margin: 0 auto;
  width: 90.7%;
  padding-bottom: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.footer .footer-container-primary .container-primary-case {
  width: 28.7%;
  padding-right: 5.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer .footer-container-primary .container-primary-case .primary-case-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 28px;
}
.footer .footer-container-primary .container-primary-case .primary-case-img {
  margin-bottom: 31px;
}
.footer .footer-container-primary .container-primary-case .primary-case-logo {
  margin-bottom: 11px;
}
.footer .footer-container-primary .container-primary-case .primary-case-text {
  font-size: 1.25rem;
  line-height: 30px;
  margin-bottom: 15px;
}
.footer .footer-container-primary .container-primary-case .primary-case-link {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
}
.footer .footer-container-primary .container-primary-case .primary-case-link:hover {
  text-decoration-line: underline;
}
.footer .footer-container-primary .container-primary-menu {
  width: 65.9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-container-primary .container-primary-menu .primary-menu-block {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer .footer-container-primary .container-primary-menu .primary-menu-block .menu__heading {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 21px;
}
.footer .footer-container-primary .container-primary-menu .primary-menu-block .menu__item {
  gap: 15px;
  margin-bottom: 15px;
}
.footer .footer-container-primary .container-primary-menu .primary-menu-block .menu__link {
  color: #000;
  font-size: 0.9375rem;
}
.footer .footer-container-primary .container-primary-menu .primary-menu-block .menu__link:hover {
  text-decoration: underline;
}
.footer .footer-container-secondary {
  margin: 0 auto;
  width: 90.7%;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-container-secondary .container-secondary-logo {
  display: flex;
  flex-direction: row;
}
.footer .footer-container-secondary .container-secondary-logo .secondary-text {
  width: 55%;
  margin-left: 3.4%;
  font-size: 0.75rem;
  line-height: 15px;
}
.footer .footer-container-secondary .container-secondary-rights {
  display: flex;
  flex-direction: column;
  padding-right: 5.9%;
  font-size: 0.75rem;
  line-height: 15px;
}/*# sourceMappingURL=style.css.map */