/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/GraphikLCWeb-Medium.eot");
  src: url("../fonts/GraphikLCWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCWeb-Medium.woff2") format("woff2"), url("../fonts/GraphikLCWeb-Medium.woff") format("woff"), url("../fonts/GraphikLCWeb-Medium.ttf") format("truetype"), url("../fonts/GraphikLCWeb-Medium.svg#GraphikLCWeb-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #FFF;
  font-family: "Graphik LC TT";
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  line-height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.button--free {
  color: #FFF;
  background-color: #FF6336;
  border: 1px solid #FF6336;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 3.5%;
  border-bottom: 1px solid #CCC;
}
.header-menu .logo {
  padding: 3px 0 9px;
}
.header-menu .navi-menu {
  width: 86.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu .navi-menu .nav {
  width: 51%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7%;
}
.header-menu .navi-menu .nav .nav__link {
  white-space: nowrap;
  color: #000;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 20px;
}
.header-menu .navi-menu .nav__item--mod {
  padding: 8px 2.5% 12px 0;
}
.header-menu .navi-menu .nav__item--spec {
  padding: 5px 1.37% 3px 1.2%;
}
.header-menu .navi-menu .buttons {
  width: 22.5%;
  display: flex;
  flex-direction: row-reverse;
  gap: 3.85%;
}
.header-menu .navi-menu .buttons .button__link {
  width: 46.1%;
  height: 45px;
}

.sides {
  margin: 0 auto;
  width: 89.6%;
  padding: 97px 0 137px;
  display: flex;
  justify-content: space-between;
}
.sides .side-block {
  width: 48%;
}
.sides .side-block h1 {
  width: 89%;
  margin-top: 14px;
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 70px;
}
.sides .side-block p.side-main {
  width: 76%;
  margin-top: 51px;
  font-size: 1.5625rem;
  line-height: 35px;
}
.sides .side-block .buttons-side {
  width: 100%;
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: start;
  gap: 1.6%;
}
.sides .side-block .button__link {
  width: 25.8%;
}
.sides .side-block p.side-add {
  margin-top: 25px;
  font-size: 0.9375rem;
  line-height: 25px;
}
.sides .side-block--mod {
  display: flex;
  justify-content: flex-end;
}/*# sourceMappingURL=style.css.map */